* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    --main-background: rgb(10, 10, 10);
    --main-font-color: rgb(230, 230, 230);
}

body {
    padding-top: 30px;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: start;
    background-color: var(--main-background);
    color: var(--main-font-color);
    font-family: monospace;
}

.msg-display {
    height: 50px;
}

.msg-display .text {
    font-size: 3.5rem;
    width: 0;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-right: 5px;
}

.text::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    background-color: var(--main-font-color);
    animation: blinking .8s infinite;
}

.msg-display .text.visible {
    display: block;
    animation: typing-effect .8s steps(17, end) forwards;
}

@keyframes blinking {
    to {background-color: transparent;}
}

@keyframes typing-effect {
    to {width: 100%;}
}

.game-board {
    width: clamp(240px, calc(15vw + 20vh), 320px);
    height: clamp(240px, calc(15vw + 20vh), 320px);
    background-color: var(--main-font-color);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 4px;
    margin: 30px 0;
}

.game-board .square {
    background-color: var(--main-background);
    display: grid;
    place-items: center;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--main-font-color);
}

svg.mark {
    stroke: var(--main-font-color);
    stroke-width: 15px;
    stroke-linecap: round;
    width: 60px;
    height: 60px;
}

svg.x line{
    stroke-dasharray: 114 114;
    stroke-dashoffset: 114;
}

svg.x .first-line {
    animation: drawMark .3s forwards;
}

svg.x .second-line {
    animation: drawMark .3s forwards;
    animation-delay: .3s;
}

svg circle {
    stroke-dasharray: 252 252;
    stroke-dashoffset: 252;
    animation: drawMark .6s forwards;
}

@keyframes drawMark {
    to {stroke-dashoffset: 0;}
}

.controls {
    background-color: var(--main-background);
    border-top: 2px solid var(--main-font-color);
    display: grid;
    column-gap: min(80px, 8vw);
    row-gap: 15px;
    padding: 10px 2vw 0 2vw;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    place-items: center;
}

.controls .stats, .controls button {
    text-align: center;
    color: var(--main-font-color);
    font-size: 2rem;
    font-family: monospace;
    width: max-content;
}

.controls button {
    background-color: var(--main-background);
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--main-font-color);
    padding: 10px 16px;
}

.controls button:hover {
    background-color: var(--main-font-color);
    color: var(--main-background);
}

.controls .change-game-mode {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    place-items: center;
}

.controls .icon.player-two {
    display: none;
}

@media only screen and (max-width: 450px) {
    .controls .stats {
        font-size: 1.4rem;
    }
    .controls button {
        padding: 5px 8px;
    }
    .msg-display .text{
        font-size: 2.5rem;
    }
}